appnope==0.1.0
astroid==1.4.4
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
botocore==1.3.7
certifi==2015.9.6.2
click==5.1
colorama==0.3.6
cycler==0.9.0
Cython==0.23.4
decorator==4.0.4
disclda==1.0.4.dev5
docutils==0.12
et-xmlfile==1.0.1
funcsigs==0.4
functools32==3.2.3.post2
geopy==1.11.0
gnureadline==6.3.3
importlib==1.0.3
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
jdcal==1.2
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
lazy-object-proxy==1.2.1
lda==1.0.3
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
mock==1.3.0
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.10
nltk==3.1
nose==1.3.7
notebook==4.0.6
numpy==1.10.1
oauthlib==1.0.3
openpyxl==2.3.1
pandas==0.17.0
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
Pillow==3.0.0
ptyprocess==0.5
Pygments==2.0.2
pyhealth==0.1
pylab==0.1.3
pylint==1.5.4
pymssql==2.1.1
pyparsing==2.0.6
pystan==2.8.0.2
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.0.0
requests==2.8.1
requests-oauthlib==0.5.0
richenum==1.0.5
schedule==0.3.2
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.16.1
seaborn==0.6.0
Shapely==1.5.13
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.0.9
sympy==0.7.6.1
terminado==0.5
Theano==0.7.0
tornado==4.3
traitlets==4.0.0
twython==3.3.0
wheel==0.24.0
word2vec==0.8.1
wrapt==1.10.6
xlrd==0.9.4
