{% extends 'layout.html' %}

{% block content %}
    {% set thr, sortby, num_results, page, start, end = searchparams %}
    <link type="text/css" rel="stylesheet" href="../static/css/yelp_review.css?q=13732" type="text/css" media="screen" charset="utf-8"/>
    <script src="../static/js/search.js?q=169994"></script>
    <div class="container-fluid">
    	<div class="row">
                <div class="col-lg-12">
                    <h1 id="results-Investigations" class="page-header">Investigations</h1>
                </div>
        </div>
        <!-- Search Options -->
        {% include "/searchbar.html" %}
        <!-- Reviews -->
        <div class="mcontainer">
            <div class="review-back">
            </div>
            <div class="reviews-wrapper">
                <!-- For each business -->
                {% for business, business_reviews, num_reviews, avg_score in businesses %}
                    <!-- Display business name -->
                    <h4>{{business.name}}</h4>
                    <p>{{num_reviews}} reviews, average score = {{avg_score}}</p>
                    <hr>
                    <!-- Display all reviews for the business -->
                     {% for review in business_reviews %}
                        {% include get_review_file(review.reviewtype) %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
   	</div>
{% endblock %}