<div class="row">
    <div class="mmenu">
        <div> 
            {% set thr, sortby, num_results, page, start, end = searchparams %}
            <div style="width:18% !important;"><b>Threshold</b><br/>
               <div class="form-group input-group" style="max-width:150px !important; margin-left:auto;"> 
                <span class="input-group-addon" >0.</span>
                <input type="text" id="thr" class="form-control" style="max-width:80px;" value="{{thr}}"/>
                </div>
            </div>
            
            <div style="width:18% !important;"><b>Temporal Range</b><br/>
                <div class="input-daterange input-group" id="datepicker">
                    <input type="date" class="form-control " name="start" id="dt_start"
                    value="{{start}}"/>
                    <span class="input-group-addon">to</span>
                    <input type="date" class="form-control" name="end" id="dt_end"
                    value="{{end}}"/>
                </div>
            </div>
            <div style="width:18% !important;">
                <b>Order by</b><br/>
               <div class="form-group" style="max-width:150px !important; margin-left:auto;  margin-right: auto;"> 
                    <select class="form-control" style="max-width:150px;" id="order_by">
                        <option value="severity" selected>Sick Score</option>
                        <option value="date">Date Created</option>
                    </select>
                </div>
            </div>
            <div style="width:18% !important;"><b>#Results</b><br/>
              <div class="form-group" style="max-width:150px !important; margin-left:auto; margin-right:auto;"> 
                    <select class="form-control" style="max-width:150px;" id="results_num">
                        <option value="{{num_results}}" selected>{{num_results}}</option>
                        <option value="-1">None</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div style="width:10% !important;">
              <button type="button" class="btn btn-primary btn-lg" style="margin-left: auto; margin-right: auto; margin-top:40px;" id="explore-btn-{{ searchtype }}" onclick="newsearch(this.id);">Explore</button>
            </div>
        </div>
     <!-- /.col-lg-12 -->
    </div>
</div>