<div class="row yelp-row yelp_review">
	<div class="col-md col-md-offset-1 yelp-review-box">
        <dl class="dl-horizontal">
            <dt>Business:</dt>
            <dd class="small">{{review.business.name}}</dd>
            <dt>User Name</dt>
            <dd class="small">{{review.username}}</dd>
            <dt>Review Text</dt>
            <dd class="small">{{review.review}}</dd>
            <dt>Sick Score</dt>
            <dd class="small">{{review.score}}</dd>
            <dt>Created Date:</dt>
            <dd>{{review.created}}</dd>
            <dt>Business Website</dt>
            <dd><a href="{{review.business.business_url}}" target="_blank">{{review.business.business_url}}&nbsp;</a></dd>
            <dt>View on Yelp</dt>
            <dd><a href="{{review.business.url}}" target="_blank" >{{review.business.url}}</a></dd>
        </dl>
	<!--     <p class="business-review-name"> {{review.business_id}} </p>
		<div class="col-lg-4 col-md-6 yelp-review-content">
			{{review.review}}
		</div>
		<div class="col-lg-4 col-md-6 review-score">
			{{review.score}}
		</div> -->
	</div>
</div>